<div style="position: absolute; z-index: -1; top: 0px; left: 0px; bottom: 0px; right: 0px; overflow: hidden; background-size: cover; background-color: transparent; background-repeat: no-repeat; background-position: 50% 50%; background-image: url('assets/image/bg-mobile-fallback.jpg');">
  <video autoplay="" loop="" muted="" style="margin: auto; position: absolute; z-index: -1; top: 50%; left: 50%; transform: translate(-50%, -50%); visibility: visible; opacity: 1;">
    <source src="assets/mp4/bg.mp4" type="video/mp4"></video></div>

    <div class="overlay"></div>

    <div class="masthead">
      <div class="masthead-bg"></div>
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-12 my-auto">
            <div class="masthead-content text-white py-5 py-md-0">
              <img class="img-fluid" src="assets/image/image2vector.svg" />
              <!-- <h1 class="mb-3">Coming Soon!</h1> -->
            </div>
            <div class="masthead-content text-white py-5 py-md-0">
              <h1 class="mb-3">Coming Soon!</h1>
              <p class="mb-5">We're working hard to finish the development of this site. Our target launch date is
                <strong>February 2018</strong></p>
            </div>
          </div>
        </div>
      </div>
      <div class="social-icons  model-2">
        <ul class="list-unstyled text-center mb-0 model-2">
          <li class="list-unstyled-item">
            <a class="pinterest" href="https://www.houzz.com/pro/archerdevelopmentgroup/archer-construction">
              <i class="fa fa-houzz"></i>
            </a>
          </li>
          <li class="list-unstyled-item">
            <a class="pinterest" href="https://www.facebook.com/Archer-Construction-193688200702629/">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="social-icons  model-2">
      <ul class="list-unstyled text-center mb-0 model-2">
        <li class="list-unstyled-item">
          <a class="pinterest" href="https://www.houzz.com/pro/archerdevelopmentgroup/archer-construction">
            <i class="fa fa-houzz"></i>
          </a>
        </li>
        <li class="list-unstyled-item">
          <a class="pinterest" href="https://www.facebook.com/Archer-Construction-193688200702629/">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
      </ul>
    </div> -->
